<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <form class="d-flex">
        <i class="bi bi-person-circle"> &nbsp; </i><a routerLink="/login" style="color: black;">Login</a> / <a routerLink="/registration" style="color: black;">Register</a>
    </form>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item mx-3">
                    <a  class="nav-link active" aria-current="page" href=""> Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Community
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/login">Post Reviews</a></li>
                        <!-- <li><a class="dropdown-item" href="/login">Results</a></li> -->
                        <li><a class="dropdown-item" href="/login">Product Search</a></li>
                        <!-- <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li> -->
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>

<!-- Middle View -->
<div class="bg_image">
    <br>
    <div class="row text_right text-white ">
        <div class="col ">
            <h2>THE COMMUNITY</h2>
            <span>Find Solution. Ask Questions. Share Ideas. <br> Connect with users across the world.</span>
        </div>
    </div>
    <br><br>
    <div class="container text-white px-4 py-3 my-3 ">
        <!-- <div class="row justify-content-sm-center"> -->
        <div class="col-md-8 offset-md-2">
            <div class="row justify-content-sm-center">
                <div class="col-sm-4 ">
                    <div>
                      <div class="text-center">
                        <button type="button" class="btn position-relative" style="color: white;">
                          <div class="row align-items-center">
                            <div class="col">
                              <fa-icon [icon]="globeIcon" size="2x"></fa-icon> &nbsp;
                            </div>
                            <div class="col">
                            <div class="col" style="padding: 0px;">
                            {{users.length}}
                            </div>
                            <div class="col" style="padding: 0px;">
                              Members
                            </div>
                          </div>
                          </div>
                        </button>
                    </div>

                    </div>
                </div>
                <div class="col-sm-4">
                    <div>
                      <div class="text-center">
                        <button type="button" class="btn position-relative" style="color: white;">
                          <div class="row align-items-center">
                            <div class="col">
                              <fa-icon [icon]="productIcon" size="2x"></fa-icon> &nbsp;
                            </div>
                            <div class="col">
                            <div class="col" style="padding: 0px;">
                            {{community.length}}
                            </div>
                            <div class="col" style="padding: 0px;">
                              Products
                            </div>
                          </div>
                          </div>
                        </button>
                    </div>
                    </div>
                </div>
                <div class="col-sm-4 ">
                    <div>
                        <div class="text-center">
                            <button type="button" class="btn position-relative" style="color: white;">
                              <div class="row align-items-center">
                                <div class="col">
                                  <fa-icon [icon]="reviewIcon" size="2x"></fa-icon> &nbsp;
                                </div>
                                <div class="col">
                                <div class="col" style="align-self: start;">
                                {{users.length}}
                                </div>
                                <div class="col" style="">
                                  Reviews
                                </div>
                              </div>
                              </div>
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Question Search -->
<div class="row">
    <div class="col-md-6 offset-md-3  ">
        <form [formGroup]="findQuestions" class="d-flex border border-dark rounded-pill ">
            <input class="form-control rounded-pill card shadow-lg" type="search" formControlName="query"
                placeholder="Type Here To Search Your Query" aria-label="Search">
            <button [disabled]="!findQuestions.valid" class="btn btn-light rounded-pill" (click)="searchResult()"
                type="submit"><i class="bi bi-search"></i></button>
            <span class="text-danger"
                *ngIf="findQuestions.controls['query'].dirty && findQuestions.hasError('required', 'query')">*Query
                is
                required</span>
        </form>
    </div>
</div>

<div class="container my-3">
    <div *ngIf="results">
        <div *ngIf="filterQuestions.length>0; else other_content">
            <div *ngFor="let filterSearch of filterQuestions">
                <div class="row">
                    <div class="col-sm-6 my-1" *ngFor="let question of filterQuestions">
                        <div class="card text-dark bg-light" style="width: 18rem;">
                            <div class="card-body">
                                <h6 class="card-title"> {{question.subject}} </h6>
                                <p class="card-text text-muted">Product: {{question.product}}</p>
                                <a routerLink="/login" class="btn btn-warning">View
                                    Details</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="#" class=""><i class="bi bi-balloon-heart-fill"></i> Views</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ng-template #other_content>
            <span class="text-danger"><b>No results found</b></span>
        </ng-template>
    </div>
</div>